@import url(../../../assets/icons/css/font-awesome.min.css); 

.wrapper{
    height: calc(100vh - 200px);
    margin-top: 150px;
    margin-left: 50px;
    width: calc(100vw - 120px);
    z-index: 1000;
}

/* mat-button-toggle-group{
    background: rgb(54, 69, 79);
    border: 1px solid #9A93B3;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

mat-button-toggle{
    background: rgb(54, 69, 79);
    color: white;
} */

#scrollToToday_btn, #refresh_btn{
   background-color: rgb(46, 139, 87);
   ;
 
}


