<div class="wrapper">
  <thy-layout>
    <thy-header class="header-with-baseline">
      <ng-template #headerContent>
        <mat-button-toggle-group #group="matButtonToggleGroup"> 
          <mat-button-toggle  *ngFor="let view of views" [class.active]="view.value === selectedViewType" (click)="selectView(view.value)">
            {{ view.name }}
          </mat-button-toggle>
        </mat-button-toggle-group>
        &nbsp; &nbsp; &nbsp;
        
        
        <!-- <thy-button thyType="primary" thySize="sm" >Refresh</thy-button> -->
        &nbsp; &nbsp; &nbsp;
        <button mat-mini-fab color="primary " (click)="scrollToToday()" aria-label="Example icon button with a delete icon">
          <mat-icon>refresh</mat-icon>
        </button>
        &nbsp; &nbsp; &nbsp;
        <div class="example-button-container">
          <button mat-mini-fab (click)="refresh()" aria-label="Example icon button with a home icon">
            <mat-icon>refresh</mat-icon>
          </button>
          &nbsp; &nbsp; &nbsp;
          <button mat-raised-button (click)="scrollToToday()" >
            <span>Scroll to today</span>
            <mat-icon>calendar_month</mat-icon>
          </button>
        </div>
        
        <!-- <thy-button thyType="primary" thySize="sm" (click)="print('gantt-example')"> gantt-example </thy-button> -->
        &nbsp; &nbsp; &nbsp;
        <!-- <span>toolbar</span> -->
        <!-- <thy-switch class="baseline-switch" [(ngModel)]="isShowToolbarChecked"> </thy-switch> -->
        &nbsp; &nbsp; &nbsp;
        <!-- <span>Baseline comparison:        </span> -->
        <!-- <thy-switch class="baseline-switch" [(ngModel)]="isBaselineChecked" (ngModelChange)="switchChange()">switchChange </thy-switch> -->
      </ng-template>
      
    </thy-header>
    <thy-content>
    <ngx-gantt
    #gantt
    [items]="items"
    [baselineItems]="baselineItems"
    [viewType]="viewType"
    [draggable]="true"
    [linkable]="true"
    [selectable]="true"
    [multiple]="true"
    [viewOptions]="viewOptions"
    [showToolbar]="isShowToolbarChecked"
    [toolbarOptions]="toolbarOptions"
    [loading]="loading"
    [virtualScrollEnabled]="false"
    (barClick)="barClick($event)"
    (viewChange)="viewChange($event)"
    (lineClick)="lineClick($event)"
    (dragMoved)="dragMoved($event)"
    (dragEnded)="dragEnded($event)"
    (selectedChange)="selectedChange($event)"
    (linkDragEnded)="linkDragEnded($event)"
  >
    <ngx-gantt-table
      [draggable]="true"
      [dropEnterPredicate]="dropEnterPredicate"
      (dragDropped)="onDragDropped($event)"
      (dragStarted)="onDragStarted($event)"
      (dragEnded)="onDragEnded($event)"
    >
      <ngx-gantt-column name="Alex-gant" width="160px" [showExpandIcon]="true">
        <ng-template #cell let-item="item"> {{ item.title }} </ng-template>
      </ngx-gantt-column>
      <ngx-gantt-column name="Starting time" width="200px">
        <ng-template #cell let-item="item">
          {{ item.start * 1000 | date : 'yyyy-MM-dd HH:mm' }}
        </ng-template>
      </ngx-gantt-column>
      <ngx-gantt-column name="deadline" width="200px">
        <ng-template #cell let-item="item">
          {{ item.end * 1000 | date : 'yyyy-MM-dd HH:mm' }}
        </ng-template>
      </ngx-gantt-column>
    </ngx-gantt-table>

    <ng-template #bar let-item="item">
      <span style="color: #fff">&nbsp;&nbsp;{{ item.title }} </span>
    </ng-template>
  </ngx-gantt>
</thy-content>
</thy-layout>
</div>