#tasks{
    margin-top: 35px;
    flex-grow: 1;
    width: 93vw;
    padding: 40px 0px 0px 40px;
  }

#task-header {
  display: flex;
}
#task-list{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
}
#title {
  margin-right: 25vw;
  font-family: 'Poppins',sans-serif;
  color: #000;
  font-size: 32px;
  margin-top: 5px;
  width: 20%;
}

#paginator{
  text-align: center;
}
app-project-task:hover{
  cursor: pointer;
}

.pagination{
  text-align: center;
}

.pagination a:hover{
  cursor: pointer;
}

.page-item a:hover{
  background-color: #0D6EFD;
  color: white;
}

.page-input {
  border: 1px solid #ccc;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  height: 33.98px;
  width: 60px;
  margin-left: 5px;
  text-align: center;
  color: #0D6EFD;
}