/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    font-family: 'Poppins', sans-serif;
}

app-projects {
    width: 100%;
    padding-left: 35px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }
