<div class="overlay-container">
    <div class="error" *ngIf="submissionError">{{ submissionError }}</div>
    <div class="overlay-content">
        
        <div class="left">
            <div class="project-title">
                <span class="name">Project title</span>
                <input class="input-field" id="title" type="text" placeholder="  Enter project title" [(ngModel)]="project.title">
                <div *ngIf="!project.title.trim() && submitted" class="error-message">*Please enter a project title.</div>
            </div>
            
            <div class="status-type">
                <div class="labels">
                    <span class="name">Priority</span>
                    <span class="name" id="type">Type</span>
                </div>
                <div class="inputs">
                    <select id="status-select" class="input-field" required [(ngModel)]="project.priorityId">
                        <option *ngFor="let priority of priorities" [value]="priority.id">{{ priority.description }}</option>
                    </select>
                    <input class="input-field" id="type-input" type="text" placeholder="  Type"  [(ngModel)]="project.type">
                </div>
                <div class="error-message" *ngIf="!project.priorityId && submitted">*Priority is required</div>
            </div>
            <div class="dates">
                <div class="labels">
                    <span class="name" id="startdate">Start Date</span>
                    <span class="name" id="enddate">End Date</span>
                </div>
                <div class="inputs">
                    <input type="date" class="input-field" id="startdate" placeholder="DD/MM/YYYY" [ngModel]="formatDate(project.start)" (ngModelChange)="project.start = $event" >
                    <input type="date" class="input-field" id="enddate" placeholder="DD/MM/YYYY" [ngModel]="formatDate(project.end)" (ngModelChange)="project.end = $event">
                </div>
                <div class="error-message" *ngIf="!project.start && submitted">*Start Date is required</div>
                <div class="error-message" *ngIf="!project.end && submitted">*End Date is required</div>
                <div class="error-message" *ngIf="project.start && project.end && project.start > project.end">*End Date must be after Start Date</div>
            </div>
            <div class="role">
                <!-- 
                <span class="name">Project Roles</span>
                <div class="custom-dropdown">
                    <span class="selected-option" (click)="toggleDropdown()">Select Team Lead</span>
                    <div class="options" *ngIf="showDropdown">
                        <div class="option" *ngFor="let user of users" (click)="toggleUserSelection(user.id)">
                            <input type="checkbox" [checked]="isSelected(user.id)" (change)="onUserSelected(user.id)">
                            {{ user.name }} {{ user.lastname }}
                        </div>
                    </div>
                </div>
                 -->
            </div>
        </div>
        
        <div class="right">
            <div class="description">
                <span class="name">Project Description</span>
                <textarea class="input-field" id="description" placeholder="  Write your description"  [(ngModel)]="project.description"></textarea>
            </div>
            <div class="budget-team">
                <div class="labels">
                    <span class="name" id="budget">Budget</span>
                    <span class="name" id="team">Members</span>
                </div>
                <div class="inputs">
                    <input class="input-field" id="budget-input" type="number" placeholder="  Budget"  [(ngModel)]="project.budget">
                    <div class="custom-dropdown">
                        <span class="selected-option" (click)="toggleDropdown()">Select Members</span>
                        <div class="options" *ngIf="showDropdown">
                            <div class="member-option" *ngFor="let user of users" (click)="toggleUserSelection(user.id, $event)">
                                <input type="checkbox" [checked]="isSelected(user.id)" (click)="toggleUserSelection(user.id, $event)">
                                {{ user.name }} {{ user.lastname }}
                            </div>

                            <div class="team-option" *ngFor="let team of teams" (mouseover)="showTeamMembers(team)" (mouseout)="hideTeamMembers($event)">
                                <input type="checkbox" [checked]="isSelectedTeam(team.id)" (change)="onTeamSelected(team)">
                                {{ team.name }}
                                <div class="team-members" *ngIf="hoveredTeam && hoveredTeam.id === team.id">
                                    <div *ngFor="let memberId of team.members">
                                        <input type="checkbox" [checked]="isSelected(memberId)" (change)="onUserSelected(memberId)">
                                        {{ getUserName(memberId) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="related">
                <!-- <span class="name" id="relatedproject">Related projects</span> -->
                <div class="link-save-cancel">
                    <!-- <button id="related-button">Link project</button> --><p></p>
                    <div class="save-cancel">
                        <button class="save" (click)="editProject(project.id)">Save changes</button>
                        <button class="cancel" (click)="closeOverlay()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>