<div class="overlay-container">
    <div class="error" *ngIf="submissionError">{{ submissionError }}</div>
    <div class="overlay-content">
        <div class="left">
            <div class="project-title">
                <span class="name">Project title</span>
                <input class="input-field" id="title" type="text" placeholder="  Enter project title" [(ngModel)]="project.title">
                <div *ngIf="!project.title.trim() && submitted" class="error-message">*Please enter a project title.</div>
            </div>
            
            <div class="tabela">
                <table>
                    <tr>
                        <th>
                            <p><span class="name">Priority</span></p>
                            <select id="status-select" class="input-field" required [(ngModel)]="project.priority.id">
                                <option *ngFor="let priority of priorities" [value]="priority.id">{{ priority.description }}</option>
                            </select>
                            <div class="error-message" *ngIf="!project.priority && submitted">*Priority is required</div>
                        </th>
                        <th>
                            <p><span class="name" id="enddate">State</span> </p>
                            <select id="status-select" class="input-field" required [(ngModel)]="project.state.id">
                                <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>
                            </select>
                        </th>
                    </tr>

                    <tr>
                        <th> 
                            <p><span class="name" id="startdate">Start Date</span> </p>
                            <p-calendar placeholder="Select date" [ngModel]="project.start" (ngModelChange)="project.start = $event" dateFormat="dd.mm.yy"/> 
                            <div class="error-message" *ngIf="!project.start && submitted">*Start Date is required</div>
                        </th>
                        <th> 
                            <p><span class="name" id="enddate">End Date</span></p> <p-calendar placeholder="Select date" id="enddate" [ngModel]="project.end" (ngModelChange)="project.end = $event" dateFormat="dd.mm.yy"/> 
                            <div class="error-message" *ngIf="!project.end && submitted">*End Date is required</div>
                        </th>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="error-message" *ngIf="project.start && project.end && (project.start >= project.end)">*End Date must be after Start Date</div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <p><span class="name" id="startdate">Percentage</span> </p>
                            <div class="slidecontainer">
                                <p-slider [(ngModel)]="project.percentage" [min]="0" [step]="5" [max]="100"></p-slider>
                                    {{ project.percentage }}%
                            </div>
                        </td>
                    </tr>

                </table>
            </div> </div>
        <div class="right">
            <div class="description">
                <span class="name">Project Description</span>
                <textarea class="input-field" id="description" placeholder="  Write your description"  [(ngModel)]="project.description"></textarea>
            </div>
            <div class="budget-team">
                <div class="labels">
                    <span class="name" id="team">Members</span>
                </div>
                <div class="inputs">
                        <div class="custom-dropdown">
                        <div class="selected-users">
                            <span *ngFor="let selectedUser of selectedUsers" class="selected-user">
                                <p>{{ selectedUser.name }} {{ selectedUser.lastname }}</p>
                                <span *ngIf="selectedUser.id != loggedInUserId" class="remove-user" (click)="removeSelectedUser(selectedUser)">X</span>
                            </span>
                        </div>
                        <input type="text" class="selected-option" (click)="toggleDropdown()" [(ngModel)]="searchQuery" placeholder="Select Members" [readonly]="!showDropdown">
                        
                        <div class="options" *ngIf="showDropdown">
                            <div class="member-option" *ngFor="let user of filteredUsers">
                                <table class="members-content">
                                    <tr>
                                        <th>
                                            <select [disabled]="user.id == loggedInUserId" [ngModel]="getSelectedRoleId(user.id)" (change)="onRoleChanged(user, $event)">
                                                <option *ngFor="let role of getRolesForUser(user)" [value]="role.id">{{role.name}}</option>
                                            </select>
                                        </th>
                                        <th>
                                            {{ user.name }} {{ user.lastname }}
                                        </th>
                                        <th>
                                            <input type="checkbox" [checked]="isSelected(user)" (click)="toggleUserSelection(user)" [disabled]="user.id == loggedInUserId">
                                        </th>
                                    </tr>
                                </table>
                            </div>

                            <div class="team-option" *ngFor="let team of filteredTeams" (mouseover)="showTeamMembers(team)" (mouseout)="hideTeamMembers($event)">
                                <table class="members-content" [ngClass]="{'show': showDropdown, 'upwards': openDropdownUpwards}">
                                    <tr>
                                        <th>
                                            <div class="team-members" *ngIf="hoveredTeam && hoveredTeam.id === team.id">
                                                <div *ngFor="let member of team.members">
                                                    <table id="teams-content">
                                                        <tr style="background-color: rgb(184, 244, 252);">
                                                            <th>
                                                                <select [disabled]="member.id == loggedInUserId" [ngModel]="getSelectedRoleId(member.id)" (change)="onRoleChanged(member, $event)">
                                                                    <option *ngFor="let role of getRolesForUser(member)" [value]="role.id">{{role.name}}</option>
                                                                </select>
                                                            </th>
        
                                                            <th>
                                                                <input type="checkbox" [checked]="isSelected(member)" (change)="onUserSelected(member,$event)" [disabled]="member.id == loggedInUserId">
                                                                {{ getUserName(member.id) }}
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </th>

                                        <th>
                                            {{ team.name }}
                                        </th>
                                        <th>
                                            <input type="checkbox" [checked]="isSelectedTeam(team.id)" (change)="onTeamSelected(team)">
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="related">
                <div class="link-save-cancel"><p></p>
                    <div class="save-cancel">
                        <button class="close" (click)="closeOverlay()">Close</button>
                        <button class="save" (click)="editProject(project.id)">Save changes</button>
                        <button class="cancel" (click)="closeOverlay()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>