<table id="task-content">
    <tr id="row">
      <td id="bulb">
        <img src="assets\project-task\bulb.svg" alt="Company Logo" width="25" height="25" />
      </td>
      <td id="details">
        <table>
          <tr>
            <td><div><b>Make an Automatic Payment System that enables the design</b></div><br></td>
          </tr>
          <tr>
            <td>
              <table>
                <td><div id="more">#402236 Opened 10 days ago by <b>Yash Ghori</b></div></td>
                <td><div id="status">Confirmed</div></td>
                <td><div id="priority">High</div></td>
              </table>
            </td>
          </tr>
        </table>
      </td>
      <td id="start">
        <div>Start Date</div>
        <div class="datum"><img src="assets\project-task\date.svg" alt="" width="25" height="25"> &nbsp;
          <span class="tekst">25/3/2023</span></div>
      </td>
      <td id="end">
        <div>End Date</div>
        <div class="datum"><img src="assets\project-task\date.svg" alt="" width="25" height="25"> &nbsp;
          <span class="tekst">25/3/2023</span></div>
      </td>
      <td id="time">
        <div class="vreme"><div class="vreme2"><img src="assets\project-task\pie.svg" alt=""> &nbsp; <span class="tekst">00 : 30 : 00</span></div></div>
      </td>
      <td id="person">
        <img src="assets\project-task\person.svg" alt="">
      </td>
      <td id="com">
        <img src="assets\project-task\comment.svg" alt="">
      </td>
      <td id="tri">
        <img src="assets\project-task\tri.svg" alt="">
      </td>
    </tr>
  </table>