#task-content{
    cursor: pointer;
    background-color: white;
    height: 100px;
    width: 900px;
    margin: 10px 0px;
    padding: 5px 10px;
    border-radius: .5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
table {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: 10px;
}

td, th {
  text-align: left;
  padding: 6px;
}

th{
  margin-left: 10px;
  /* border: 1px solid rgb(241, 241, 241); */
}

.at-risk{
  width: 100px;
  padding: 5px 20px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background-color: #dc3545;
  border-radius: .5rem;
  color: white;
}
.high-priority{
  width: 100px;
  margin-left: 10px;
  padding: 5px 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background-color: #ffc107;
  border-radius: .5rem;
  color: white;
}
.medium-priority{
  width: 100px;
  margin-left: 10px;
  padding: 5px 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  border-radius: .5rem;
  color: white;
  background-color: #65d2e4;
}
.low-priority{
  width: 100px;
  margin-left: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  border-radius: .5rem;
  padding: 5px 20px;
  background-color: #a0e6ba;
}


.ready {
  width: 100px;
  margin-left: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  border-radius: .5rem;
  padding: 5px 10px;
  background-color: #074173;
}

.in-progress {
  width: 100px;
  margin-left: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  border-radius: .5rem;
  padding: 5px 10px;
  background-color: #1679AB;
}

.done {
  width: 100px;
  margin-left: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  border-radius: .5rem;
  padding: 5px 10px;
  background-color: #5DEBD7;
}

.cancelled, .blocked {
  width: 100px;
  margin-left: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  border-radius: .5rem;
  padding: 5px 10px;
  background-color: #C5FF95;
}

.not-started {
  width: 100px;
  margin-left: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  border-radius: .5rem;
  padding: 5px 10px;
  background-color: #FF76CE;
}


.name{
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: lighter;
}