/* .dashboard{
    flex-grow: 1;
    padding: 25px;
    margin-top: 50px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 15px;
}

.item{
    width: fit-content;
    height: fit-content;
} */

.dashboard {
    flex-grow: 1;
    padding: 25px;
    margin-top: 50px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);
    gap: 15px;
  }
  
  .item {
    width: 100%; /* Grafik će zauzeti celu širinu svog roditelja (jednako četvrtini ekrana) */
    height: 100%; /* Grafik će zauzeti celu visinu svog roditelja */
  }
  
  
  