<div class="dashboard">
    <h1>Dashboard</h1>
    <div class="card">
        <div class="card-head">
            Prvo
        </div>
        <div class="card-body">
            TextTextTextTextTextTextTextTextTextTextTextTextTextTextText
        </div>
    </div>
    
    <div class="card">
        <div class="card-head">
            Drugo
        </div>
        <div class="card-body">
            TextTextTextTextTextTextTextTextTextTextTextTextTextTextText
        </div>
    </div>
    
    <div class="card">
        <div class="card-head">
            Trece
        </div>
        <div class="card-body">
            TextTextTextTextTextTextTextTextTextTextTextTextTextTextText
        </div>
    </div>
</div>

