<div class="task-header">
    <div class="search">
        <input id="search-field" type="text" placeholder="Search for task..." (keyup)="onSearch($event)" #Search>
    </div>
    <!-- <div class="filters">
        <button class="filter-button" (click)="openFilterDialog()"><img src="assets\task-header\filter.svg" alt="" height="33" width="25"></button>
    </div>
    <div class="sort">
        <button class="sort-button" (click)="openSortDialog()"><img src="assets\task-header\sort.svg" alt="" height="33" width="25"></button>
    </div> -->
    <!-- <div class="create">
        <button id="create-button">Create</button>
    </div> -->
</div>