.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  margin: 0 auto;
  height: 200px;
  padding-left: 35px;
}

.card-content {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-wrapper {
  font: 500 18px/1.2 Inter, sans-serif;
  color: #1e1e1e;
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  width: 100%;
}

.title-wrapper img {
  margin-left: 5px;
}

.icon {
  width: 20px;
  height: 20px;
}

.status-label {
  border-radius: 4px;
  color: #fff;
  padding: 8px 16px;
  font: 400 11px/1.2 Inter, sans-serif;
  margin-left: auto;
  width: 64px;
  height: 30px;
}

.ready {
  background-color: #001b47;
}

.in-progress {
  background-color: #2e8b57;
  padding: 0px 10px;
  text-align: center;
  display: flex;
}

.done {
  background-color: red;
}

.cancelled {
  background-color: grey;
  padding: 8px 5px;
}

.not-started {
  background-color: grey;
  padding: 3px 15px;
  text-align: center;
  display: flex;
}

.divider {
  border-top: 1px solid #1e1e1e;
  margin-top: 10px;
}

.description {
  width: 297px;
  height: 67px;
  color: #424242;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 25px;
  font: 400 12px/1.4 Inter, sans-serif;
}

.date-section {
  display: flex;
  margin-top: 10px;
  font-size: 11px;
  color: #000000;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 25px;
}

.date-section time {
  padding-top: 2px;
  padding-left: 5px;
}

.issue-section {
  display: flex;
  margin-top: 10px;
  font-size: 11px;
  color: #5c5967;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
}

.issue-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.ready {
  background-color: #001b47;
}

.in-progress {
  background-color: #2e8b57;
}

.done {
  background-color: red;
}


/* Responsive styles for tablets */
@media (max-width: 1024px) {
  .card {
    width: 300px; /* Adjust width for tablets */
    
  }

  .description {
    width: 100%; /* Make description full width on phones */
    height: 67px;
  }
}

/* Responsive styles for phones */
@media (max-width: 768px) {
  .card {
    width: 240px; /* Adjust width for phones */
  }
  
  .description {
    width: 100%; /* Make description full width on phones */
    height: 67px;
  }
}