.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px; /* Increased max-width */
  margin: 0 auto;
}

.card-content {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  width: 100%;
  padding: 14px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-wrapper {
  font: 500 18px/1.2 Inter, sans-serif;
  color: #1e1e1e;
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
}

.title-wrapper img {
  margin-left: 8px;
}

.icon {
  width: 20px;
  height: 20px;
}

.date-section img,
.issue-section img {
  width: 16px;
  height: 16px;
  margin-left: 1px;
  margin-right: 4px;
}

.status-label {
  border-radius: 4px;
  background-color: #2e8b57;
  color: #fff;
  padding: 8px 16px;
  font: 400 11px/1.2 Inter, sans-serif;
}

.divider {
  border-top: 1px solid #1e1e1e;
  margin-top: 10px;
}

.description {
  color: #424242;
  max-width: 320px; /* Adjusted max-width */
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 25px;
  font: 400 12px/1.4 Inter, sans-serif;
}

.date-section {
  display: flex;
  margin-top: 10px;
  font-size: 11px;
  color: #000000;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 25px;
}

.date-section time {
  padding-top: 2px;
}

.issue-section {
  display: flex;
  margin-top: 10px;
  font-size: 11px;
  color: #5c5967;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
}

.issue-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
