<article class="card">
  <section class="card-content">
    <div class="header-section">
      <header class="title-wrapper">
        <h1>Adoddle</h1>
        <img src="assets\project-preview\more.svg" alt=""/>
      </header>
      <span class="status-label">Status</span>
    </div>
    <hr class="divider" />
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="date-section">
      <img src="assets\project-preview\time.svg" alt="" />
      <time>05 APRIL 2023</time>
    </div>
    <div class="issue-section">
      <p>Team part</p>
      <div class="issue-details">
        <img src="assets\project-preview\issues.svg" alt=""/>
        <span>14 issues</span>
      </div>
    </div>
  </section>
</article>