.overlay{
    position: fixed;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 15px;
    
    color: black;
    background-color: white;
    z-index: 9999;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: .5rem;
}

button{
    padding: 5px 20px;
    background-color:  white;
    color: darkgray;
    border: 1px solid darkgray;
    border-radius: 25px;
    margin-left: 10px;
}
button:hover{
    background-color:   darkgray;
    color: white;
}

h2{
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
    color: black;
}