.task-list{
    padding-top: 150px;
    padding-left: 30px;
    width: 95vw;
}
.task{
    color: black;
}
mat-tree{
    overflow-y: auto;
    width: 70vw;
    height: 600px;
    float: left;
}
.filter{
    float: right;
    padding-right: 20px;
}