<div class="task-list">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      <!-- {{node.name}} -->
      <div *ngIf="isTask(node.node)" class = 'task'>
        <app-project-task [task]="node.node"></app-project-task>
      </div>
      <div *ngIf="!isTask(node.node)" class = 'taskGroup'>
        <span class="text-task-group"><b>{{node.node.title}}</b></span>
      </div>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle class="expand-field"
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
        <span>{{node.node.title}}</span>
      </button>
    </mat-tree-node>
  </mat-tree>
  <div class="filter">
    <app-task-filter #taskFilter [filter]="filter"/>

  </div>
  
</div>