<div class="task-list">
  <div class="list">
    <div class="content">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <!-- {{node.name}} -->
          <div *ngIf="isTask(node.node)" class = 'task'>
            <app-task-list-task [userProjectRole]="userProjectRole" [task]="node.node" (isUpdated)="getIsUpdatedTask($event)"></app-task-list-task>
          </div>
          <div *ngIf="!isTask(node.node)" class = 'taskGroup'>
            <span class="text-task-group" style="color: black;"><b>{{node.node.title}} &nbsp;&nbsp;</b></span>
            <div *ngIf="isManager && node.level < 2" class="create-buttons" style="display: inline; font-size: 16px;">
              <button (click)="openCreateOverlay(node.node)">Create task</button>
              <button *ngIf="node.level < 1" class="tgb" (click)="openCreateGroupOverlay(node.node)">Create task group</button>
              <button *ngIf="node.level!==0" (click)="openEditGroupOverlay(node.node)">Edit task group</button>
            </div>
          </div>
        </mat-tree-node>
        
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle class="expand-field"
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            <span >{{node.node.title}}</span>
          </button>
          <div *ngIf="isManager" class="create-buttons">
            <button (click)="openCreateOverlay(node.node)">Create task</button>
            <button *ngIf="node.level < 1" class="tgb" (click)="openCreateGroupOverlay(node.node)">Create task group</button>
            <button *ngIf="node.level!==0" (click)="openEditGroupOverlay(node.node)">Edit task group</button>
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>
    <div class="filter">
      <app-task-filter #taskFilter [filter]="filter"/>
    </div>
  </div>
</div>