#task-details{
    padding: 40px;
}
.row{
    display: flex;
    align-items: center;
    
}
.row span{
    padding: 0px 100px;
    justify-content: center;
}
.details{
    display: flex;
    flex-direction: column;
    width: 40%; /* Increased width to 400px */
    padding: 15px; /* Increased padding for better spacing */
}
  
  
p {
    margin-right: 10px;
    font-weight: bold;
  }
  
span {
    flex: 1;  /* Added flex: 1 to the span class */
    text-align: right;
}
.overlay-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 95%;
    background-color: white;
    z-index: 9999;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-y: auto;
}
#comment-button{
    padding: 10px 20px;
    background-color:  #001B47;
    color: white;
    border: 1px solid #001B47;
    border-radius: 25px;
}
#comment-button:hover{
    background-color:   #17315D;
    color: white;
}
textarea{
    width: 80%;
}