#task-details{
    height: fit-content;
    padding: 30px;
    display: flexbox;
    justify-content: center;    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    background-color: white;
}

h1 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #222222;
}

h2 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #222222;
}

p {
    font-weight: 200;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: #222222;
    width: 50px;
}

.row{
    display: flex;
    align-items: center;
}

.row span{
    padding: 0px 100px;
    justify-content: center;
}
.details{
    display: flex;
    flex-direction: column;
}
  
span {
    flex: 1; 
    text-align: right;
    width: 50px;
}

.overlay-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 95%;
    background-color: white;
    z-index: 9999;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-y: auto;
}
button{
    padding: 10px 20px;
    background-color:  #001B47;
    color: white;
    border: 1px solid #001B47;
    border-radius: 25px;
}
button:hover{
    background-color:   #17315D;
    color: white;
}
textarea{
    width: 80%;
}

.custom-dropdown {
    position: relative;
    width: 90%;
    bottom: 5px;
}

.selected-option {
    display: block;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.selected-option:hover {
    background-color: #f0f0f0; /* Adjust hover background color as needed */
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    z-index: 999;
    max-height: 200px;
    overflow-y: auto;
}

.options.active {
    display: block;
}

.option,.member-option,.team-option {
    padding: 10px;
    cursor: pointer;
}

.option:hover, .member-option:hover, .team-option:hover {
    background-color: #f0f0f0; 
}

.option input[type="checkbox"],.member-option input[type="checkbox"],.team-option input[type="checkbox"] {
    margin-right: 10px;
    float: right;
}
.slidecontainer {
    width: 100%;
  }

#pfp {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    object-fit: cover;
    border: 1px solid black;
    background-color: #001B47;
}