<div class="wrapper">
    <div class="info">
        <div id = 'name_logout'>
            <p>{{fullname}}</p>
        </div>
        <p>{{role}}</p>
        
    </div>
    <div class="picture" (click)="toggleMenu()">
        <img class="pfp" *ngIf="user && user.profilePicturePath" [src]="profilePicture" />
        <img class="pfp" *ngIf="!user || !user.profilePicturePath" src="../../../assets/pictures/defaultpfp.svg" />
        <div class="menu" *ngIf="isMenuVisible">
            <p id="pfdetails"><img class="icon" src="../../../assets/profile-settings/pfsettings.svg"> Profile Details</p>
            <app-logout></app-logout>
        </div>
    </div>
</div>