<div class="wrapper">
    <div class="info">
        
        <div id = 'name_logout'>
            <p>{{ (firstname && lastname) ? (firstname + ' ' + lastname) : fullname }}</p>
        </div>
        <p>{{ jobTitle ? jobTitle : role }}</p>
        
    </div>
    <div class="picture" (click)="toggleMenu()">
        <img class="pfp" [src]="picture" />
        <div class="menu" *ngIf="isMenuVisible">
            <p id="pfdetails"  (click)="openProfileOverlay(user.id,$event)"><img class="icon" src="../../../assets/profile-settings/pfsettings.svg"  (click)="openProfileOverlay(user.id,$event)"> Profile Details</p>
            <app-logout></app-logout>
        </div>
    </div>
</div>