<div class="container">
    <div class = 'project-filter'>
        <div class="header-filter">
            <h2>Filters</h2>
            
        </div>
        <div class = 'priority'>
            <h4>Role</h4>
            <p-multiSelect [options]="roles" placeholder="Select Roles" optionLabel="name" [(ngModel)]="selectedRoles">
            </p-multiSelect>
        </div>
        <button class="filter-button" (click)="sendFilter()">Apply</button>
        <div class="sort">
            <h4>Activated status</h4>
            <p-dropdown
            placeholder="Select mode"
            [options]="activationList"
            [(ngModel)]="selectedActivation"
            (ngModelChange)="sendFilter()"></p-dropdown>
        </div>
        
        <!-- <div class="sort">
            <h4>Sorted By</h4><br><br>
            Ascending <input type="radio" name="sort-mode" [(ngModel)]="sortMode" [value]="1">
            Descending <input type="radio" name="sort-mode" [(ngModel)]="sortMode" [value]="-1" cl checked>
        </div> -->
    </div>
</div>