<div class="login">
<h2>Hi, you need to login!</h2>
<br>
<form>
  <div>
    <input type="text" [(ngModel)]="loginObj.Username" name="username" placeholder="Username" required>
  </div>
  <br>
  <div>
    <input type="password" [(ngModel)]="loginObj.Password" name="password" placeholder="Password" required>
  </div>
  <br>
  <button type="submit" (click)="onLogin()">Login</button>
  <br>
</form>
</div>
<article class="task">
  <section class="task-content">
    <div class="bulb">
      <img src="assets\project-task\bulb.svg" alt="Company Logo" width="25" height="25" />
    </div>
    <div class="details">
      <div class="top">
        <p>Make an Automatic Payment System that enables the design</p>
      </div>
      <div class="bototm">
        
      </div>
    </div>
  </section>
</article>
