<div class="login">
<h2>Hi, you need to login!</h2>
<br>
<form>
  <div>
    <input type="text" [(ngModel)]="loginObj.Username" name="username" placeholder="Username" required>
  </div>
  <br>
  <div>
    <input type="password" [(ngModel)]="loginObj.Password" name="password" placeholder="Password" required>
  </div>
  <br>
  <button type="submit" (click)="onLogin()">Login</button>
  <br>
</form>
</div>
<!-- <article class="task"> -->
  <section id="task-content">
    <div id="bulb">
      <img src="assets\project-task\bulb.svg" alt="Company Logo" width="25" height="25" />
    </div>
    <div id="details">
      <div id="top">
        <p><b>Make an Automatic Payment System that enables the design</b></p>
      </div>
      <div id="bottom">
        <p id="tekst1">#402235 Opened 10 days ago by <b>Yash Ghori</b></p>
      </div>
    </div>
    <div id="start">
      <p>Start date</p>
      <img src="assets\project-task\date.svg" alt="" width="25" height="25"> 25/3/2023 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div id="end">
      <p>End date</p>
      <img src="assets\project-task\date.svg" alt="" width="25" height="25"> 25/3/2023 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </section>
<!-- </article> -->
