.login {
    position: relative; 
    width: 400px; 
    padding: 20px; 
    border-radius: 15px; 
    background-color: #fff; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  }
  
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 10px; 
  }
  
  form {
    width: 100%; 
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%; 
    height: 40px; 
    border-radius: 10px;
    padding: 10px;
    font-size: 16px; 
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #C41E3A;
  }
  
  button {
    width: 100%;
    height: 40px; 
    margin-top: 20px; 
    font-family: 'Inter';
    font-size: 16px;
    line-height: 40px;
    color: #EBEBEC;
    background: #001B47;
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    font-family: 'Poppins', sans-serif;
  }
  
  p {
    font-size: 14px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  a {
    color: #C41E3A;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
/* Ovde krece trenutni css za task */

/* .task {
  display: flex;
  max-width: 1000px;
  max-height: 100px;
  align-items: center;
  justify-content: center;
} */

/* #task-content{
  align-items: center;
  overflow: hidden;
  display: table-cell;
  height: 100px;
  width: 2500px;
  border-radius: 15px; 
  background-color: red; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

#bulb{
  display: inline-block;
  margin-right: 15px;
  margin-left: 25px;
  align-items: center;
}

#details{
  display: inline-block;
  width: 500px;
  align-items: center;
}

#tekst1{
  font-size: 12px;
}

#start{
  display: inline-block;
}

#end{
  display: inline-block;
}

#time{
  display: inline-block;
}

#person{
  display: inline-block;
}

#com{
  display: inline-block;
}

#tri{
  display: inline-block;
} */

#task-content{
  height: 100px;
  width: 1800px;
  border: #001B47 2px solid;
}

#row{
  height: 100px;
  width: 1800px;
}

#bulb{
  /* border: #001B47 2px solid; */
  width: 4%;
  text-align: center;
  padding-left: 10px;
}

#details{
  width: 40%;
  overflow: hidden;
}

#more{
  font-size: 13px;
}

#start{
  width: 10%;
}

#end{
  width: 10%;
}

#time{
  width: 12%;
  text-align: center;
}

#vreme{
  vertical-align: middle;
}

#datum{
  margin-top: 10px;
}

#mark{
  background-color: #E8FFDC;
  color: #3FB202;
}

#person{
  width: 8%;
  text-align: center;
}

#com{
  width: 8%;
  text-align: center;
}

#tri{
  width: 8%;
  text-align: center;
}