<div class="root">
  <div class="board">
    <div class="board-wrapper">
      <div class="board-columns">
        <div cdkDropList 
            cdkDropListOrientation="horizontal" class="board-columns"
            (cdkDropListDropped)="dropGrid($event)">
        <div 
           cdkDragLockAxis="x" class="board-column" 
           *ngFor="let column of board.columns" cdkDrag>
          <div class="column-title" cdkDragHandle>
            {{ column.name }}
          </div>
          <!-- ovde treba da se omoguci da kada se klikne na task da se otvori task details -->
          <div class="tasks-container"
          id="{{column.id}}"
          [cdkDropListConnectedTo]="['1', '2','3','4','5','6']"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of column.tasks" cdkDrag [cdkDragData]="item">
              {{ item.title }}
            </div>
          </div>

        </div>
        </div>
      </div>
    </div>
  </div>
</div>