<table id="wrapper" *ngIf="profilePicturesLoaded">
    <thead>
        <tr *ngFor="let user of users">
            <td id="profile-picture">
               <img id="pfp" [src]="user.profile_picture">
            </td>
            <td id="username">{{user.name + " " + user.lastname}}</td>
            <td id="dropdown" class = "drop">
                <div class="dropbtn">{{user.role.name}}</div>
                    <div class="dropdown-content">
                    <p *ngFor="let role of roles" (click)="updateUserRole(role, user)">{{role.name}}</p>
                </div>
            </td>
            <td class="drop">
                <div *ngIf="user.isActivated" class="dropbtn">Activated</div>
                <div *ngIf="!user.isActivated" class="dropbtn">Deactivated</div>
                <div class="dropdown-content">
                    <p (click)="changeActivationStatus(1,user)">Active</p>
                    <p (click)="changeActivationStatus(0, user)">Deactive</p>
                </div>
            </td>
            <td class="update">
                <button (click)="sendUpdateRequest(user)">Update</button>
            </td>
        </tr>
    </thead>
</table>