<table id="wrapper">
    <thead>
        <tr *ngFor="let user of users">
            <td id="profile-picture">
                <!-- <img src=""  class="slika"> -->
            </td>
            <td id="username">{{user.name + " " + user.lastname}}</td>
            <td id="dropdown" class = "drop">
                <div class="dropbtn">{{user.role.name}}</div>
                    <div class="dropdown-content">
                    <p *ngFor="let role of roles">{{role.name}}</p>
                </div>
            </td>
            <td class="drop">
                <div class="dropbtn">Activated</div>
                <div class="dropdown-content">
                    <p>Active</p>
                    <p>Deactive</p>
                </div>
            </td>
            <td class="update">
                <button>Update</button>
            </td>
        </tr>
    </thead>
</table>