<div class="wrapper">
    <div class="profile-picture">
        <!-- <img src=""  class="slika"> -->
    </div>
    <div class="username">Aleksandra Stanic</div>
    <div class="location">Kragujevac, Srbija</div>
    <div class="dropdown">
        <button class="dropbtn">Role</button>
        <div class="dropdown-content">
          <a href="#">Project manager</a>
          <a href="#">Developer</a>
          <a href="#">User</a>
          <a href="#">GUest</a>
        </div>
      </div>
      
    <div class="remove">
        <button class="delete">Remove</button>
    </div>
</div>