<div class="container">
    <div class="login">
        <ng-container *ngIf="!changed">
                <h2>Change password</h2>
                <br>
                <div>
                    <span id="lozinka">
                    <h3>New password</h3>
                    <input type="{{ showPassword ? 'text' : 'password' }}" name="password" placeholder="Password" [(ngModel)]="newPassword"><br>
                    <h3>Confirm new password</h3>
                    <input type="{{ showPassword ? 'text' : 'password' }}" name="password" placeholder="Password" [(ngModel)]="confirmPassword">
                    <img id="eye" [src]="showPassword ? 'assets/login/crossedeye.svg' : 'assets/login/eye.svg'" alt="" width="25" height="25" (click)="togglePasswordVisibility()"><br>
                    </span>
                </div>
                <p style="color: crimson;" *ngIf="errorMessage">{{ errorMessage }}</p>
                <button (click)="changePassword()">Change password</button>
                <br>
        </ng-container>

        <ng-container *ngIf="changed">
            <div id="content">
                <img id="slika" src="../../../../assets/login/changedpassword.svg"><br>
                <h1>Password Changed!</h1><br>
                <h5>Your password has been changed successfully. You can now log in with your new password.</h5>
            </div>
        </ng-container>
  </div>
</div>