.login {
    position: relative; 
    width: 400px; 
    padding: 20px; 
    border-radius: 15px; 
    background-color: #fff; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}
  
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 10px; 
}
  
input[type="text"],
input[type="password"] {
    width: 90%; 
    height: 40px; 
    border-radius: 10px;
    padding: 10px;
    font-size: 16px; 
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}
  
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #C41E3A;
}
  
button {
    width: 100%;
    height: 40px; 
    font-family: 'Inter';
    font-size: 16px;
    line-height: 40px;
    color: #EBEBEC;
    background: #001B47;
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    font-family: 'Poppins', sans-serif;
}

h3 {
    margin-bottom: 3px;
}

p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
  
a {
    color: #C41E3A;
}
  
a:hover {
    text-decoration: underline;
}

#lozinka {
    margin-bottom: 10px;
}

#lozinka h5 {
    margin-bottom: 5px;
}

#lozinka input {
    margin-bottom: 10px;
}

#lozinka > img {
    margin-left: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#slika {
    width: 30%;
    height: 30%;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}