.container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 10px;
}

.button {
    width: 110px;
    height: 40px;
    border-radius: 10px;
    margin-right: 35px;
    background-color: #001B47;
    color: white;
    font: 400 12px/1.2 Inter, sans-serif;
}

.title {
    padding-left: 35px;
    font: 400 23px/1.2 Nunito, sans-serif;
    color: #9A93B3;
}


