<div class="projectlist" >
    <h1 class="title">{{projectText}}</h1>
    <!-- <label for="PageSize">Number of projects per page</label>
    <select id="PageSize" class = "pageSize">
        <option value="5">5 Projects</option>
        <option value="10">10 Projects</option>
    </select> -->
    <div class="search">
        <input id="search-field" type="text" placeholder="Search for task..." (keyup)="onSearch($event)" #Search>
    </div>
    <div class="filters">
        <button class="filter-button" (click)="openFilterDialog()"><img src="assets\task-header\filter.svg" alt="" height="33" width="25"></button>
    </div>
    <div class="sort">
        <button class="sort-button" (click)="openSortDialog()"><img src="assets\task-header\sort.svg" alt="" height="33" width="25"></button>
    </div>
    <button class="create" *ngIf="showCreateButton" (click)="openCreateOverlay()">Create</button>
</div>
<!-- <app-project-preview *ngIf="showProjectPreview"></app-project-preview> -->
