<div class="overlay-container">
    <div class="overlay-content">
        <div class="editdetails">
            <button id="editprofile"><img src="../../../assets/profile-settings/editprofile.svg"><span class="tooltip">Edit Profile</span></button>
        </div>
        <div class="centered-content">
            <div class="profile-info">
                <img id="pfp" src="../../../assets/pictures/defaultpfp.svg">
                <div id="description">
                    <span id="nametitle" class="title">Name (username)</span><br>
                    <span id="fullname">{{user.name}} {{user.lastname}} ( <span id="username">{{user.username}}</span> )</span><br>
                    <span id="roletitle" class="title">Role Name</span><br>
                    <span id="rolename">{{user.jobTitle}}</span><br>
                </div>
            </div>
        </div>
        <div class="contact-info">
            <span id="emailtitle" class="title"><img src="../../../assets/profile-settings/email.svg"> Email</span><br>
            <span id="email">{{user.email}}</span><br>
            <span id="organisationtitle" class="title"><img src="../../../assets/profile-settings/organisation.svg"> Organisation</span><br>
            <span id="organisation">{{user.organisation}}</span><br>
            <span id="departmenttitle" class="title"><img src="../../../assets/profile-settings/department.svg"> Department</span><br>
            <span id="department">{{user.department}}</span><br>
        </div>
    </div>
</div>
