<div class="project-header">
    <div class="search">
        <input id="search-field" type="text" placeholder="Search for project...">
    </div>
    <div id="list">
        <button id="list-button" (click)="changeView('list')"><img id="list-img" src="assets\project-header\list.svg"><span>List</span></button>
    </div>
    <div id="kanban">
        <button id="kanban-button" (click)="changeView('kanban')"><img id="kanban-img" src="assets\project-header\kanban.svg"><span>Kanban</span></button>
    </div>
    <div id="gantt">
        <button id="gantt-button" (click)="changeView('gantt')"><img id="gantt-img" src="assets\project-header\gant.svg"><span>Gantogram</span></button>
    </div>
</div>
