<div class="project-header">
    <div class="search">
        <input id="search-field" type="text" placeholder="Search for task...">
    </div>
    <div id="list">
        <button id="list-button"><img src="assets\project-header\list.svg">List</button>
    </div>
    <div id="kanban">
        <button id="kanban-button"><img src="assets\project-header\kanban.svg">Kanban</button>
    </div>
    <div id="gantt">
        <button id="gantt-button"><img src="assets\project-header\gant.svg">Gantogram</button>
    </div>
</div>
