#prozor{
    background-color: white;
    width: 900px;
    height: 600px;
}

h1{
    text-align: center;
}

#state-priority {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 150px;
    display: flex-end;
}

#state{
    float: left;
}

#priority{
    float: right;
}

#dates{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 214px;
    margin-bottom: 150px;
    display: flex-end;
}

#start{
    float: left;
}

#end{
    float: right;
}

#less{
    margin-right: 50px;
}

#slider{
    text-align: center;
}

#buttons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
}

#buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#cancel{
    background-color: #fa5a5a;
}

#confirm{
    background-color: #5afa6a;
}

#slider{
    align-items: center;
}