<div class="overlay-container">
    <div class="overlay-content">
        <div class="left">
            <span style="color: crimson;">{{message}}</span>
            <div class="project-title">
                <span class="name">Task title</span>
                <input class="input-field" id="title" type="text" placeholder=" Enter task title" [(ngModel)] = "createTaskObj.title">
            </div>
            
            <div class="status-type">
                <div class="labels">
                    <span class="name">Status</span>
                    <span class="name" id="type">Type</span>
                </div>
                <div class="inputs">
                    <p id="status-select" class="input-field">{{state.name}}</p>
                    <input class="input-field" id="type-input" type="text" placeholder=" Type" [(ngModel)] = "createTaskObj.type">
                </div>
            </div>
            <div class="dates">
                <div class="labels">
                    <span class="name" id="startdate">Start Date</span>
                    <span class="name" id="enddate">End Date</span>
                </div>
                <div class="inputs">
                    <input type="date" class="input-field" id="startdate" placeholder="DD/MM/YYYY" [(ngModel)] = "createTaskObj.start">
                    <input type="date" class="input-field" id="enddate" placeholder="DD/MM/YYYY" [(ngModel)] = "createTaskObj.end">
                </div>
            </div>
            <div class="role">
                
                <div class="custom-dropdown">
                    <span class="name">Assignee</span>
                    <span class="selected-option" (click)="toggleDropdown()">Select Assignees</span>
                    <div class="options" *ngIf="showDropdown">
                        <div class="member-option" *ngFor="let user of users" (click)="toggleUserSelection(user.id, $event)">
                            <input type="checkbox" [checked]="isSelected(user.id)" (click)="toggleUserSelection(user.id, $event)">
                            {{ user.name }} {{ user.lastname }}
                        </div>
                    </div>

                </div>
                <div class = "custom-dropdown">
                    <span class = "name">TaskGroup</span><br>
                    <select id="task_group" [(ngModel)] = "createTaskObj.taskGroupId">
                        <option *ngFor="let group of taskGroups" [value]="group.id">{{group.title}}</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="right">
            <div class="description">
                <span class="name">Task Description</span>
                <textarea class="input-field" id="description" placeholder="  Write your description" [(ngModel)] = "createTaskObj.description"></textarea>
            </div>
            <div class="related">
                <span class="name" id="relatedproject">Related tasks</span>
                <div class="link-create-cancel">
                    <span id="related-button" (click)="toggleDropdownTask()">Link task</span>
                    <div class = "task-options" *ngIf="showDropdownTask">
                        <div class = "task-option" *ngFor="let task of assignments" (click)="toggleTaskSelection(task.id,$event)" >
                            <input type="checkbox" [checked]="isSelectedTask(task.id)" (click)="toggleTaskSelection(task.id,$event)"> 
                            <span [title]="task.title">{{task.dummyTitle}}</span>
                        </div>
                    </div>
                    <div class="create-cancel">
                        <button class="create" (click)="createTask()">Create</button>
                        <!-- <button class="create" (click)="createProject()">Create</button> -->
                        <button class="cancel" (click)="closeOverlay()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>