<div class="overlay-container">
    <div class="overlay-content">
        <div class="left">
            <div class="project-title">
                <span class="name">Task title</span>
                <input class="input-field" id="title" type="text" placeholder=" Enter task title">
            </div>
            
            <div class="status-type">
                <div class="labels">
                    <span class="name">Status</span>
                    <span class="name" id="type">Type</span>
                </div>
                <div class="inputs">
                    <p id="status-select" class="input-field">{{state.name}}</p>
                    <input class="input-field" id="type-input" type="text" placeholder=" Type">
                </div>
            </div>
            <div class="dates">
                <div class="labels">
                    <span class="name" id="startdate">Start Date</span>
                    <span class="name" id="enddate">End Date</span>
                </div>
                <div class="inputs">
                    <input type="date" class="input-field" id="startdate" placeholder="DD/MM/YYYY">
                    <input type="date" class="input-field" id="enddate" placeholder="DD/MM/YYYY">
                </div>
            </div>
            <div class="role">
                <span class="name">Assignee</span>
                <div class="custom-dropdown">
                    <span class="selected-option" (click)="toggleDropdown()">Select Assignees</span>
                    <div class="options" *ngIf="showDropdown">
                        <div class="member-option" *ngFor="let user of users" (click)="toggleUserSelection(user.id, $event)">
                            <input type="checkbox" [checked]="isSelected(user.id)" (click)="toggleUserSelection(user.id, $event)">
                            {{ user.name }} {{ user.lastname }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="right">
            <div class="description">
                <span class="name">Task Description</span>
                <textarea class="input-field" id="description" placeholder="  Write your description"></textarea>
            </div>
            <div class="related">
                <span class="name" id="relatedproject">Related tasks</span>
                <div class="link-create-cancel">
                    <button id="related-button">Link task</button><p></p>
                    <div class="create-cancel">
                        <button class="create">Create</button>
                        <!-- <button class="create" (click)="createProject()">Create</button> -->
                        <button class="cancel" (click)="closeOverlay()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>