<div class="frame-4">
    <div class="title"><h2>{{task.title}}</h2></div>
    <div class = "priority">
      <h2>Priority</h2>
      <span [ngClass]="getPriorityClass()">{{task.priority.description}}</span>
    </div>
    <div class ="time">
      <div class = "start">
        <h2>Start date (yyyy-mm-dd)</h2>
        <p>{{transformDate(task.start)}}</p>
      </div>
      <div class = "end">
        <h2>End date (yyyy-mm-dd)</h2>
        <p>{{transformDate(task.end)}}</p>
      </div>
    </div>
    <div class = "progress">
      <input type="range" min="0" max="100" [value]="task.percentage">
      <p>{{task.percentage}}%</p>
    </div>
    <div class="task-details">
      <p>Details...</p>
    </div>
  </div>