<div class="frame-4">
    <div class="title">This is the Title</div>
  
    <div class="description">This is a description of the content.</div>
  
    <div class="assignee-tile">
      <img src="pratyush_tewari_profile.png" alt="Assignee Image">
  
      <div class="frame-1">
        <div class="assignee-name">Assignee Name</div>
        <div class="status">
          <div class="status-dot"></div> <span>Not started</span>
        </div>
      </div>
    </div>
  
    <div class="tag">This is a Tag</div>
  </div>