/* Frame 4 */

.frame-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    position: relative;
    width: 182px;
    height: 222px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
  
  /* Title */
  
  .title {
    width: 166px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
  }
  
  /* Description */
  
  .description {
    width: 166px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #6C6C6C;
  }
  
  /* Assignee Tile */
  
  .assignee-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 12px 0px 0px;
    width: 144px;
    height: 24px;
    border-radius: 50px;
  }
  
  /* Image slot */
  
  .assignee-tile img {
    width: 24px;
    height: 24px;
  }
  
  /* Frame 1 */
  
  .frame-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 4px;
    width: 108px;
    height: 23px;
  }
  
  /* Assignee Name */
  
  .assignee-name {
    width: 92px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #6C6C6C;
  }
  
  /* Status */
  
  .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 4px;
    gap: 4px;
    width: 85px;
    height: 19px;
    background: #E8EDF3;
    border-radius: 100px;
  }
  
  /* Not started */
  
  .status span {
    width: 65px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
  }
  
  /* Tag */
  
  .tag {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    gap: 4px;
    width: 88px;
    height: 23px;
    background: #FFF6E1;
    border-radius: 4px;
  }
  
  /* Tag Text */
  
  .tag span {
    width: 80px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #52565C;
  }
  