<div class="frame-4">
    <div class="title">
      <h2>{{task.title}}</h2>
      <div class = "priority">
        <span [ngClass]="getPriorityClass()">{{task.priority.description}}</span>
      </div>
    </div>

    <div class ="time">
      <div class = "start">
        <h2>Start date</h2>
        <p>(yyyy-mm-dd)</p>
        <p>{{transformDate(task.start)}}</p>
      </div>
      <div class = "end">
        <h2>End date</h2>
        <p>(yyyy-mm-dd)</p>
        <p>{{transformDate(task.end)}}</p>
      </div>
    </div>
    <div class = "progress">
      <h2>Progress</h2>
      <input class = "percentage-bar" type="range" min="0" max="100" [value]="task.percentage"><span>{{task.percentage}}%</span>
      
    </div>
    <div class="task-details">
      <p>Details...</p>
    </div>
  </div>